spring:
  application:
    name: demo-hello-service
  cloud:
    nacos:
      discovery:
        server-addr: localhost:8848
      config:
        server-addr: localhost:8848
        file-extension: yml
        import-check:
          enabled: false

    compatibility-verifier:
      enabled: false

server:
  port: 8082

