spring:
  application:
    name: demo-gateway
  cloud:
    gateway:
      routes:
        - id: user-service
          uri: lb://demo-user-service
          predicates:
            - Path=/user/**
        - id: hello-service
          uri: lb://demo-hello-service
          predicates:
            - Path=/hello/**
    nacos:
      discovery:
        server-addr: localhost:8848
      config:
        server-addr: localhost:8848
        file-extension: yml
        import-check:
          enabled: false
    compatibility-verifier:
      enabled: false

server:
  port: 8080

