spring:
  application:
    name: demo-gateway
  cloud:
    gateway:
      routes:
        - id: user-service
          uri: http://localhost:8081
          predicates:
            - Path=/user/**
        - id: hello-service
          uri: http://localhost:8082
          predicates:
            - Path=/hello/**
    compatibility-verifier:
      enabled: false
    nacos:
      discovery:
        server-addr: localhost:8848
        namespace: public
        group: DEFAULT_GROUP
      config:
        server-addr: localhost:8848
        namespace: public
        group: DEFAULT_GROUP
        file-extension: yml

# Enable Actuator endpoints
management:
  endpoints:
    web:
      exposure:
        include: health,info

server:
  port: 8080

